.col {
    margin: 40px 50px 40px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col__categories {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 13px;
    padding: 0;
    margin: 0;
}
.col__category {
    padding: 15px 25px;
    background-color: #f9f9f9;
    border-radius: 30px;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 19px;
    letter-spacing: 0.015rem;
    color: #2c2c2c;
    margin-right: 9px;
    cursor: pointer;
}
.col__category:last-of-type {
    margin-right: 0;
}
.col__category_active {
    background-color: #282828;
    color: #fff;
}

.nav__sort {
    display: flex;
}

.custom-select {
    position: relative;
}
.custom-select__header {
}
.custom-select__body {
    position: absolute;
    top: 22px;
    right: 0;
    padding: 13px 0;
}
.custom-select__item {
}
.custom-select__item:hover {
}
.custom-select__item_active {
}

@media (max-width: 1200px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .nav__categories {
        margin-bottom: 30px;
    }
}
@media (max-width: 700px) {
    nav {
        margin: 40px 30px;
    }
}
@media (max-width: 330px) {
    nav {
        margin: 30px 20px;
    }
}
