header {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*  */
.header__box {
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: 17px;
}
.header__title {
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 29px;
    letter-spacing: 0.01rem;
    color: #181818;
}
.header__subtitle {
    font-size: 0.8rem;
    color: #7b7b7b;
    line-height: 19px;
}
/*  */
.header__basket {
    padding: 15px 23px;
    border-radius: 30px;
    background-color: #fe5f1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 19px;
    cursor: pointer;
}
.header__total-amount {
    margin-left: 9px;
}
.header__vrow {
    margin: 0px 13px;
}
.row {
    height: 1px;
    background-color: #f6f6f6;
}

@media (max-width: 700px) {
    header {
        padding: 50px 30px;
    }
}
@media (max-width: 540px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 30px;
    }
    .header__box {
        margin-bottom: 20px;
    }
}
@media (max-width: 330px) {
    header {
        padding: 30px 20px;
    }
}
